@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
body {
	background: #048;
	background: -webkit-linear-gradient(left top, #027, #48a);
	background: -moz-linear-gradient(bottom right, #027, #48a);
	background: linear-gradient(to bottom right, #027, #48a);
	background-attachment: fixed;
	color: #fff;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0;
	height: 100%;
	padding: 0;
	text-align: center;
	width: 100%;
}

/* STYLES ========== */
.box {
	background: #333;
	height: 100vh;
	perspective: 300px;
	-webkit-perspective: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	/* -webkit-overflow-scrolling: touch; */
	/* Momentum scrolling breaks parallax on iOS.*/
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.box h1 {
	line-height: 120%;
	margin: 0;
}

.box_group {
	height: 500px;
	height: 100vh;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
}
.box_layer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.box_layer--deep {
	transform: translateZ(-600px) scale(3);
	-webkit-transform: translateZ(-600px) scale(3);
	z-index: 2;
}
.box_layer--back {
	transform: translateZ(-300px) scale(2);
	-webkit-transform: translateZ(-300px) scale(2);
	z-index: 3;
}
.box_layer--base {
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	z-index: 4;
}
.box_layer--fore {
	transform: translateZ(90px) scale(0.7);
	-webkit-transform: translateZ(90px) scale(0.7);
	z-index: 1;
}
.valign {
  /* width: 50%
  height: 50% */
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

/* Style By Row */

#row1 {
	z-index: 12;
}
#row1 .box_layer--base {
	background-color: #444;
	background-image: url(https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/princeton_review_header_3-2.jpg?itok=RlLntkkv);
	background-position: 50% 50%;
	background-size: cover;
}

#row2 {
	z-index: -10;
}
#row2 .box_layer--back {

	/* background-color: #048; */
	background-image: url(https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/princeton_review_header_3-2.jpg?itok=RlLntkkv);
	background-position: 50% 50%;
	background-size: cover;
	color: #777;
}

#row3 {
	z-index: 6;
}
#row3 .box_layer--base {
	transform: translateZ(90px) scale(0.7);
	-webkit-transform: translateZ(90px) scale(0.7);
	z-index: 1;
}
#row3 .box_layer--back {
	background-color: #408;
	background-image: url();
	background-position: 50% 50%;
	background-size: cover;
	color: #777;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	z-index: 6;
}

#row4 {
	z-index: 4;
}
#row4 .box_layer--back {
	color: #aaa;
}
#row4 .box_layer--deep {
	background-color: #804;
	background-image: url();
	background-position: 50% 50%;
	background-size: cover;
	color: #777;
}



#row_last {
	z-index: 2;
}
#row_last .box_layer--base {
	background-color: #444;
	background-image: url();
	background-position: 50% 50%;
	background-size: cover;
}





/* .parallax {
    /* The image used */
    background-image: url("https://news.virginia.edu/sites/default/files/styles/uva_basic_article/public/article_image/princeton_review_header_3-2.jpg?itok=RlLntkkv");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-color: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300vh;
    padding-top:100vh;
}
.project {
  min-height: 400px;
  background-color: transparent;
} */
