table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}
th, td {
    padding: 15px;
}

ul#results {
  position: relative;
  padding-left: 0;
  list-style-type: none;
  width: 500px;
}

.pretty-text {
  display: inline-flex;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #FBFBA7;
  text-align: center;
  font-size: 15px;

}
