<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5><span>{{ site.title }}</span></h5>
  <ul class="menu-item">
    <li>
      <a href="/index.html"><div class="title">Home</div></a>
    </li>
    {% for link in site.data.navigation %}<li>
      <a href="{{ site.url }}{{ link.url }}">
        <div class="title">{{ link.title }}</div>
      </a>
    </li>{% endfor %}
    <li>
      <a href="{{ site.url }}/searchengine"><div class="title">Alternative Archival Search</div></a>
    </li>
    <li>
      <a href="{{ site.url }}/augmented-locations"><div class="title">Augmented Locations</div></a>
      <ul>
        <li class="sub-menu"><a href="{{ site.url }}/berlin-wall">Berlin Wall</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/cemetery">Cemetery</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/french-department">French Department</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/old-cabell-hall-mural">Old Cabell Hall Mural</a></li>
        <li class="sub-menu"><a href="{{ site.url }}/rotunda,-the-public-face-of-a-public-university">Rotunda</a></li>
      </ul>
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
