<h2>Trigger Images</h2>
The following images will trigger augmentations in the application.

On UVA grounds: visit the augmented sites indicated on the UVA Reveal Map. Once at a site, click the “Reveal” button and point your device’s camera at the augmented object. The augmentations should appear on your device.

On UVA Reveal website: use the trigger images of each particular location’s webpage. Click the “Reveal” button and point your device’s camera at the trigger image. The augmentations should appear on your device.
